<main class="main-content  mt-0">
  <section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
                <p class="mb-0">Enter your email and password to sign in</p>
              </div>
              <div class="card-body">
                <form role="form" [formGroup]="loginForm">
                  <label>Email</label>
                  <div class="mb-3">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email" aria-label="Email"
                      aria-describedby="email-addon">
                    <div class="invalid-feedback-custom"
                      *ngIf="f.email.invalid && (submitted || f.email.dirty || f.email.touched) && f.email.errors?.required">
                      Email is required.
                    </div>
                  </div>
                  <label>Password</label>
                  <div class="mb-3">
                    <input type="password" class="form-control"  formControlName="password" placeholder="Password" aria-label="Password"
                      aria-describedby="password-addon">
                      <div class="invalid-feedback-custom"
                      *ngIf="f.password.invalid && (submitted || f.password.dirty || f.password.touched) && f.password.errors?.required">
                      Password is required.
                  </div>
                  </div>

                  <div class="text-center">
                    <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0" (click)="onSubmit()">Sign
                      in</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Don't have an account?
                  <a [routerLink]="'/signup'" class="text-info text-gradient font-weight-bold">Sign up</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                style="background-image:url('assets/img/curved-images/curved6.jpg')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>