<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
    id="sidenav-main">
    <app-sidebar></app-sidebar>
</aside>

<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <app-header [page_title]="title"></app-header>
    <div class="container-fluid py-4">



        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="card-header pb-0">
                                <h6>All Users</h6>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <a [routerLink]="'/admin/user/add'" style=" margin: 15px ;"
                                class="btn bg-gradient-primary mb-0">
                                <i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add
                            </a>
                        </div>
                    </div>

                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            User</th>

                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Position</th>

                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!loading">
                                    <tr *ngFor="let item of userData; trackBy: trackById">
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{item.name}}</h6>
                                                    <p class="text-xs text-secondary mb-0">{{item.email}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">{{item.position_title}}</p>
                                        </td>

                                        <td class="align-middle">
                                            <a class="btn btn-link text-dark px-3 mb-0"
                                                [routerLink]="['/admin/user/edit/', item.user_id]">
                                                <i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true">
                                                </i>Edit
                                            </a>
                                            <a (click)="deleteConfirmation(item.user_id)"
                                                class="btn btn-link text-danger text-gradient px-3 mb-0"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                    class="far fa-trash-alt me-2" aria-hidden="true"></i>Delete</a>
                                        </td>
                                    </tr>
                                </tbody>

                                <div class="pagination-container" *ngIf="total_pages && userShowPage && !loading">

                                    <ul class="pagination pagination-primary">
                                        <li class="{{(activePage - 1) <= 0 ? 'page-item disabled' : 'page-item'}}"
                                            (click)="OnClickPage(activePage-1)" class="page-item"><a
                                                class="page-link"><span aria-hidden="true"><i
                                                        class="fa fa-angle-double-left"
                                                        aria-hidden="true"></i></span></a>
                                        </li>
                                        <li class="{{activePage == i+1 ? 'page-item active' : 'page-item'}}"
                                            *ngFor='let in of counter(total_pages); let i = index;'><a class="page-link"
                                                (click)="OnClickPage(i+1)">{{i+1}}</a>
                                        </li>
                                        <li class="{{(activePage + 1) > total_pages ? 'page-item disabled' : 'page-item'}}"
                                            (click)="OnClickPage(activePage+1)" class="page-item">
                                            <a class="page-link"><span aria-hidden="true"><i
                                                        class="fa fa-angle-double-right"
                                                        aria-hidden="true"></i></span></a>
                                        </li>
                                    </ul>
                                </div>
                            
                            </table>
                        </div>
                    </div>

                    <div class="col-12 text-center" *ngIf="userData?.length < 1">
                        <h6>No users Found!</h6>
                    </div>
                </div>
            </div>

     
        </div>

    </div>

</main>

<app-loader [loading]="loading"></app-loader>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button id="delete_alert_close" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="finalDelete()" class="btn bg-gradient-primary">Yes</button>
            </div>
        </div>
    </div>
</div>