<section class="min-vh-100 mb-8">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
        style="background-image: url('../assets/img/curved-images/curved14.jpg');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center mx-auto">
                    <h1 class="text-white mb-2 mt-5">Welcome!</h1>
                    <!-- <p class="text-lead text-white">Use these awesome forms to login or create new account in your
                        project for free.</p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <div class="card z-index-0">
                    <div class="card-body">
                        <form role="form text-left" [formGroup]="SignUpForm">
                            <div class="mb-3">
                                <input type="text" formControlName="name" class="form-control" placeholder="Name"
                                    aria-label="Name" aria-describedby="email-addon">
                                <div class="invalid-feedback-custom"
                                    *ngIf="f.name.invalid && (submitted || f.name.dirty || f.name.touched) && f.name.errors?.required">
                                    Name is required.
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="email" formControlName="email" class="form-control" placeholder="Email"
                                    aria-label="Email" aria-describedby="email-addon">
                                <div class="invalid-feedback-custom"
                                    *ngIf="f.email.invalid && (submitted || f.email.dirty || f.email.touched) && f.email.errors?.required">
                                    Email is required.
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="password" formControlName="password" class="form-control"
                                    placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                                <div class="invalid-feedback-custom"
                                    *ngIf="f.password.invalid && (submitted || f.password.dirty || f.password.touched) && f.password.errors?.required">
                                    Password is required.
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2"
                                    (click)="onSubmit()">Sign up</button>
                            </div>
                            <p class="text-sm mt-3 mb-0">Already have an account? <a [routerLink]="'/signin'"
                                    class="text-dark font-weight-bolder">Sign in</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>