<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
    id="sidenav-main">
    <app-sidebar></app-sidebar>
</aside>

<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <app-header [page_title]="title"></app-header>
    <div class="container-fluid py-4">
        <div class="row">

            <div class="col-12 col-lg-8 m-auto">
                <form class="multisteps-form__form mb-8" style="height: 405px;" [formGroup]="userAddEditForm">
                    <!--single form panel-->
                    <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active"
                        data-animation="FadeIn">
                        <h5 class="font-weight-bolder mb-0" *ngIf="isAddMode">Add New User</h5>
                        <h5 class="font-weight-bolder mb-0" *ngIf="!isAddMode">Edit User</h5>
                        <div class="multisteps-form__content">
                            <div class="row mt-3">
                                <div class="col-12 col-sm-6">
                                    <label>Name</label>
                                    <input formControlName="name" class="multisteps-form__input form-control"
                                        type="text" placeholder="Name Michael">
                                    <div class="invalid-feedback-custom"
                                        *ngIf="f.name.invalid && (submitted || f.name.dirty || f.name.touched) && f.name.errors?.required">
                                        Name is required.
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label>Email Address</label>
                                    <input formControlName="email" class="multisteps-form__input form-control"
                                        type="email" placeholder="example@dashboard.com">
                                    <div class="invalid-feedback-custom"
                                        *ngIf="f.email.invalid && (submitted || f.email.dirty || f.email.touched) && f.email.errors?.required">
                                        Email is required.
                                    </div>
                                    <div class="invalid-feedback-custom"
                                        *ngIf="f.email.invalid && (submitted || f.email.dirty || f.email.touched) &&  f.email.errors?.pattern">
                                        Email is not valid.
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 col-sm-6">
                                    <label>Position Title</label>
                                    <input formControlName="position_title" class="multisteps-form__input form-control"
                                        type="text">
                                    <div class="invalid-feedback-custom"
                                        *ngIf="f.position_title.invalid && (submitted || f.position_title.dirty || f.position_title.touched) && f.position_title.errors?.required">
                                        Position Title is required.
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label>Company</label>
                                    <input formControlName="company" class="multisteps-form__input form-control"
                                        type="text">

                                </div>
                            </div>
                            <div class="button-row d-flex mt-4">
                                <button (click)="onSubmit()" class="btn bg-gradient-primary mt-2 me-2" type="button"
                                    title="Save">Save</button>
                                <button [routerLink]="'/admin/users'" class="btn bg-gradient-warning mt-2 me-2"
                                    type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>

<app-loader [loading]="loading"></app-loader>